requests
xmltodict
vectra_api_tools >=2.2rc0
pyvmomi
PyJWT
cryptography
urllib3
libtaxii
python-dateutil
pip
colorlog
wheel
keyring
pytz
cabby
stix
six
furl
orderedmultidict
lxml
mixbox
cybox
setuptools
certifi
idna
pycparser
zipp
weakrefmethod
cachetools